/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

@font-face {
  font-family: "Gilroy Regular";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("./../fonts/Gilroy-Regular.woff") format("woff"),
    url("./../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("./../fonts/Gilroy-Light.woff2") format("woff2"),
    url("./../fonts/Gilroy-Light.woff") format("woff"),
    url("./../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extrabold";
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("./../fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("./../fonts/Gilroy-Extrabold.woff") format("woff"),
    url("./../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("./../fonts/Poppins-Regular.woff2") format("woff2"),
    url("./../fonts/Poppins-Regular.woff") format("woff"),
    url("./../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  position: relative;
  background-color: #f7e296;
  margin-top: 40px;
  padding-top: 44px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  height: 300px;
}

.header-logo {
  width: 163px;
  height: 35px;
  position: absolute;
  top: -7%;
  left: 5%;
}

.header-topline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form {
  margin-right: 265px;
  display: flex;
  position: relative;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 16px;
  left: 0;
  background-image: url("./../img/icon_search.svg");
}

.search-input {
  border: none;
  background: transparent;
  padding: 0;
  border-bottom: 2px solid transparent;
  width: 100%;
  padding-left: 24px;
}

.search-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
  outline: none;
  border-bottom: 2px solid #000000;
}

.search-input:focus + .found-btn {
  opacity: 1;
  transition: opacity 0.1s;
}

.found-btn {
  border: 2px solid #000000;
  background: transparent;
  padding-left: 17px;
  padding-right: 17px;
  width: 84px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0;
  cursor: pointer;
}

.found-btn:hover {
  background: #000;
  color: #fff;
}

.found-btn:active {
  background: #000;
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.topline-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.topline-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  position: relative;
  cursor: pointer;
}

.topline-item a:hover {
  opacity: 0.6;
}

.topline-item a:active {
  opacity: 0.3;
}

.topline-item:not(:last-child) {
  margin-right: 63px;
}

.topline-item:first-child {
  margin-right: 239px;
}

.login::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 14px;
  background-image: url("./../img/icon_user.svg");
  left: -25px;
  top: 4px;
}

.compaire::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url("./../img/icon_chart.svg");
  left: -25px;
  top: 4px;
}

.cart::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("./../img/icon_cart.svg");
  left: -25px;
  top: 4px;
}

.header-navigation {
  margin-top: 40px;
}

.header-navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.header-navigation-item {
  padding: 0;
}

.header-navigation-item a {
  text-decoration: none;
  font-family: "Gilroy Extrabold", sans-serif;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

.header-navigation-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog {
  margin-right: 322px;
  position: relative;
}

.catalog::after {
  content: "";
  position: absolute;
  background: url("./../img/icon_plus.svg");
  width: 22px;
  height: 22px;
  right: -38px;
  bottom: 1px;
}

.delivery {
  margin-right: 38px;
}

.contacts {
  margin-left: 98px;
}

.main-slider {
  display: flex;
  position: relative;
  top: -46px;
  justify-content: space-between;
  padding-bottom: 96px;
}

.slider-image {
  margin-left: 29px;
}

.slider-information {
  margin-right: 65px;
  max-width: 495px;
  padding-top: 9px;
}

.slider-title {
  margin: 0;
  font-family: "Gilroy Extrabold", sans-serif;
  font-size: 47px;
  line-height: 58px;

  color: #000000;
}

.slider-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  width: 472px;
  margin: 0;
  margin-top: 30px;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

.more-button {
  width: 220px;
  height: 40px;
  font-family: "Gilroy Extrabold", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.more-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}

.more-button:hover::before {
  transform: translateY(-50%);
  height: 100%;
  transition: height 0.3s;
}

.more-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-buttons-group {
  width: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-button {
  width: 12px;
  height: 12px;
  border: none;
  background-color: transparent;
  background-image: url("./../img/slider-button-empty.svg");
  cursor: pointer;
}

.slider-button.active-button {
  background-image: url("./../img/slider-button.svg");
}

.benefits-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.benefits-item:not(:last-child) {
  margin-right: 64px;
}

.benefits-item strong {
  display: block;
  font-family: "Gilroy Light", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 15px;
}

.benefits-item span {
  font-family: "Gilroy Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #000000;
}

.products {
  margin-bottom: 164px;
}

.products-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image-wrapper {
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  background-color: #f7e296;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
  cursor: pointer;
}

.image-wrapper:hover {
  background-color: #f0c52e;
}

.image-wrapper:active img,
.image-wrapper:active + .products-title {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.3);
}

.product-link {
  text-decoration: none;
}
.products-title {
  font-family: "Gilroy Extrabold", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
  max-width: 158px;
  display: block;
}

.offers {
  height: 288px;
  background-color: #e5e5e5;
}

.offers-slide {
  display: flex;
}

.offers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.offers-item a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Gilroy Extrabold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  width: 160px;
  display: block;
  text-align: center;
  margin-left: 24px;
  z-index: 1;
  margin-bottom: 40px;
}

.offers-item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}

.offers-item:hover::before {
  transform: translateY(-50%);
  height: 100%;
  transition: height 0.3s;
}
