/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

@font-face {
  font-family: "Gilroy Regular";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("./../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("./../fonts/Gilroy-Regular.woff") format("woff"),
    url("./../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("./../fonts/Gilroy-Light.woff2") format("woff2"),
    url("./../fonts/Gilroy-Light.woff") format("woff"),
    url("./../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extrabold";
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("./../fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("./../fonts/Gilroy-Extrabold.woff") format("woff"),
    url("./../fonts/Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("./../fonts/Poppins-Regular.woff2") format("woff2"),
    url("./../fonts/Poppins-Regular.woff") format("woff"),
    url("./../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container {
  width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-header {
  position: relative;
  background-color: #f7e296;
  margin-top: 40px;
  padding-top: 44px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
  height: 300px;
}

.main-header.catalog-header {
  height: 206px;
}

.header-logo {
  width: 163px;
  height: 35px;
  position: absolute;
  top: -7%;
  left: 5%;
}

.header-topline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-form {
  margin-right: 265px;
  display: flex;
  position: relative;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 16px;
  left: 0;
  background-image: url("./../img/icon_search.svg");
}

.search-input {
  border: none;
  background: transparent;
  padding: 0;
  border-bottom: 2px solid transparent;
  width: 100%;
  padding-left: 24px;
}

.search-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
  outline: none;
  border-bottom: 2px solid #000000;
}

.search-input:focus + .found-btn {
  opacity: 1;
  transition: opacity 0.1s;
}

.found-btn {
  border: 2px solid #000000;
  background: transparent;
  padding-left: 17px;
  padding-right: 17px;
  width: 84px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0;
  cursor: pointer;
}

.found-btn:hover {
  background: #000;
  color: #fff;
}

.found-btn:active {
  background: #000;
  color: rgba(255, 255, 255, 0.3);
  opacity: 1;
}

.topline-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.topline-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  position: relative;
  cursor: pointer;
  display: block;
}

.topline-item a:hover {
  opacity: 0.6;
}

.topline-item a:active {
  opacity: 0.3;
}

.topline-item:not(:last-child) {
  margin-right: 63px;
}

.topline-item.login-item {
  margin-right: 5px;
}

.topline-item .login {
  margin-right: 239px;
}

.topline-list.login-list {
  margin-right: 79px;
}

.logout {
  opacity: 0.3;
}

.login::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 14px;
  background-image: url("./../img/icon_user.svg");
  left: -25px;
  top: 4px;
}

.user-name {
  position: relative;
  width: 150px;
}

.user-info {
  display: flex;
}

.user-info + .topline-item {
  margin-right: 10px;
}

.user-name::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 14px;
  background-image: url("./../img/icon_user.svg");
  left: -25px;
  top: 4px;
}

.compaire::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-image: url("./../img/icon_chart.svg");
  left: -25px;
  top: 4px;
}

.cart::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url("./../img/icon_cart.svg");
  left: -25px;
  top: 4px;
}

.header-navigation {
  margin-top: 40px;
}

.header-navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}

.header-navigation-item {
  padding: 0;
}

.header-navigation-item a {
  text-decoration: none;
  font-family: "Gilroy Extrabold", sans-serif;

  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

.header-navigation-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-navigation-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog {
  margin-right: 322px;
  position: relative;
}

.catalog-menu:hover,
.catalog:hover + .catalog-menu,
.catalog:focus + .catalog-menu,
.catalog:active + .catalog-menu {
  display: flex;
}

.catalog::after {
  content: "";
  position: absolute;
  background: url("./../img/icon_plus.svg");
  width: 22px;
  height: 22px;
  right: -38px;
  bottom: 1px;
}

.catalog-menu {
  position: absolute;
  left: 0;
  z-index: 5;
  width: 1040px;
  display: none;
  margin: 0;
  background-color: #f7e296;
  padding: 20px 60px 36px;
}

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-list:not(:last-child) {
  margin-right: 61px;
}

.catalog-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.catalog-item a {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  color: #000;
  letter-spacing: 0;
  text-transform: capitalize;
}

.delivery {
  margin-right: 38px;
}

.contacts {
  margin-left: 98px;
}

.slider {
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 7px;
  background-color: #fff;
  top: -91px;
  right: 457px;
}

.main-slider {
  display: none;
  position: relative;
  top: -46px;
  justify-content: space-between;
  padding-bottom: 30px;
}

.slide-pagination {
  position: absolute;
  top: -104px;
  right: 31px;
  font-family: "Gilroy Extrabold", sans-serif;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 0;
}

.main-slider.active-slide {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slider-image {
  margin-left: 88px;
  min-height: 506px;
  min-width: 513px;
}

.first-slide-img {
  position: relative;
  left: -59px;
}

.third-slide-img {
  position: relative;
  top: -60px;
}

.slider-information {
  margin-right: 65px;
  max-width: 495px;
  padding-top: 9px;
  z-index: 1;
}

.slider-title {
  margin: 0;
  font-family: "Gilroy Extrabold", sans-serif;
  font-size: 47px;
  line-height: 58px;
  width: 495px;
  color: #000000;
}

.slider-description {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  width: 472px;
  margin: 0;
  margin-top: 30px;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
}

.more-button {
  width: 220px;
  height: 40px;
  font-family: "Gilroy Extrabold", sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.more-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}

.more-button:hover::before {
  transform: translateY(-50%);
  height: 100%;
  transition: height 0.3s;
}

.more-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-buttons-group {
  width: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 87px;
  top: 224px;
  z-index: 10;
}

.slider-button {
  width: 12px;
  height: 12px;
  border: none;
  background-color: transparent;
  background-image: url("./../img/slider-button-empty.svg");
  cursor: pointer;
}

.slider-button.active-button {
  background-image: url("./../img/slider-button.svg");
}

.benefits-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.benefits-item:not(:last-child) {
  margin-right: 64px;
}

.benefits-item strong {
  display: block;
  font-family: "Gilroy Light", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 15px;
}

.benefits-item span {
  font-family: "Gilroy Light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #000000;
}

.products {
  margin-bottom: 164px;
  padding-top: 20px;
}

.products-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.image-wrapper {
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  background-color: #f7e296;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
  cursor: pointer;
}

.image-wrapper:hover {
  background-color: #f0c52e;
}

.image-wrapper:active img,
.image-wrapper:active + .products-title {
  opacity: 0.3;
  color: rgba(0, 0, 0, 0.3);
}

.product-link {
  text-decoration: none;
}
.products-title {
  font-family: "Gilroy Extrabold", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
  max-width: 158px;
  display: block;
}

.offers {
  height: 288px;
  background-color: #e5e5e5;
}

.offers-slide {
  display: flex;
  justify-content: space-between;
}

.offers-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -20px;
  margin-right: 120px;
}

.offers-list::after {
  content: "";
  position: absolute;
  height: 320px;
  width: 7px;
  background: #000;
  top: -70px;
  right: -124px;
}

.offers-item a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Gilroy Extrabold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 41px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  width: 160px;
  height: 40px;
  display: block;
  text-align: center;
  margin-left: 24px;
  z-index: 1;
  margin-bottom: 40px;
}

.offers-item a::before {
  content: "";
  position: absolute;
  width: 160px;
  height: 8px;
  background: #f0c52e;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}

.offers-item a:hover::before {
  transform: translateY(-50%);
  height: 100%;
  transition: height 0.3s;
}

.offers-item.offer-active a {
  color: #f7e296;
}

.offers-item.offer-active a::before {
  content: "";
  position: absolute;
  width: 277px;
  height: 40px;
  background: #000;
  transition: height 1s;
}

.offer-block {
  display: none;
  justify-content: space-between;
}

.offer-block.offer-active {
  display: flex;
  animation-name: serv-menu;
  animation-duration: 0.5s;
  padding-left: 120px;
}

.offer-description {
  position: relative;
  top: -31px;
  margin-right: 31px;
}

@keyframes serv-menu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.offer-description .offers-title {
  font-family: "Gilroy Extrabold", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom: 40px;
}

.offers-subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.1em;
  margin: 0;
  min-width: 574px;
}

.offers-image {
  position: relative;
  top: -65px;
}

.firms {
  margin-top: 90px;
  margin-bottom: 90px;
}

.firms-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  max-height: 100px;
}

.firm-item img {
  height: 100%;
  filter: grayscale(100%);
  opacity: 0.3;
}

.firm-item img:hover {
  filter: none;
  opacity: 1;
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about-col {
  position: relative;
  max-height: 593px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.about-col::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background: #000;
  top: 0;
  left: 0;
}

.about-title {
  font-family: "Gilroy Extrabold", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
  margin: 0;
  margin: 57px 0 50px 0;
}

.about-description {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  max-width: 473px;
  margin: 0;
  margin-bottom: 40px;
}

.partners-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 50px;
}

.partner {
  padding-left: 30px;
  position: relative;

  font-family: "Gilroy Extrabold", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
}

.partner::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: url("./../img/Ellipse.svg");
  left: 0;
  top: 35%;
}

.partner:not(:last-child) {
  margin-bottom: 21px;
}

.more-button.about-us-button {
  width: 260px;
  margin-top: auto;
}

.contacts-image {
  width: 560px;
  height: 222px;
  margin-bottom: 70px;
  cursor: pointer;
}

.more-button.write-button {
  border: none;
  background: transparent;
  height: 40px;
  display: block;
  width: 260px;
}

.main-footer {
  background: #363636;
  height: auto;
  padding-top: 46px;
  padding-bottom: 64px;
}

.footer-list {
  display: flex;
  float: right;
  clear: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-item {
  position: relative;
}

.footer-item a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;

  color: #fff;
  opacity: 0.7;
  position: relative;
}

.footer-item a:hover {
  opacity: 1;
}

.footer-item a:active {
  opacity: 0.3;
}

.footer-item:not(:last-child) {
  margin-right: 62px;
}

.user-name.footer-item {
  margin-right: 24px;
}

.footer-login a::before {
  content: "";
  position: absolute;
  left: -26px;
  top: 20%;
  width: 13px;
  height: 14px;
  background-image: url("./../img/footer_icon_user.svg");
}

.user-name.footer-login a::before {
  content: "";
  position: absolute;
  left: -26px;
  top: 20%;
  width: 13px;
  height: 14px;
  background-image: url("./../img/icon_user_login.svg");
}

.footer-chart a::before {
  content: "";
  position: absolute;
  left: -26px;
  top: 20%;
  width: 13px;
  height: 14px;
  background-image: url("./../img/footer_icon_chart.svg");
}

.footer-cart a::before {
  content: "";
  position: absolute;
  left: -26px;
  top: 20%;
  width: 10px;
  height: 10px;
  background-image: url("./../img/footer_icon_cart.svg");
}

.footer-logo img {
  margin-top: 18px;
  width: 163px;
  height: 35px;
  margin-bottom: 40px;
}

.footer-logo img:hover {
  opacity: 0.7;
}

.footer-logo img:active {
  opacity: 0.3;
}

.footer-menu {
  display: flex;
}

.footer-address {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  max-width: 212px;
  margin-right: 156px;
}

.footer-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-right: 203px;
}

.footer-nav-item a {
  text-decoration: none;
  font-family: "Gilroy Extrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-nav-item a:hover {
  opacity: 0.6;
}

.footer-nav-item a:active {
  opacity: 0.3;
}

.footer-nav-item:not(:last-child) {
  margin-right: 36px;
}

.footer-contacts,
.footer-contacts a {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.footer-underline {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  align-items: center;
}

.footer-line {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  opacity: 0.6;
  cursor: pointer;
}

.footer-social-item:hover {
  opacity: 1;
}

.footer-social-item:active {
  opacity: 0.3;
}

.footer-social-item:not(:last-child) {
  margin-right: 20px;
}

.footer-copyright:hover {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

.modal-write-us {
  display: none;
  width: 960px;
  height: 550px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 92px;
}

.modal-write-us.modal-active,
.modal-map.modal-active {
  display: block;
  animation-name: modal-show;
  animation-duration: 0.5s;
}

@keyframes modal-show {
  from {
    transform: translateY(-100%) translateX(-50%);
  }
  to {
    transform: translateY(-50%) translateX(-50%);
  }
}

.close-button {
  width: 55px;
  height: 55px;
  border: none;
  background-color: transparent;
  background-image: url("./../img/button_close.svg");
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.5;
  cursor: pointer;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  opacity: 0.2;
}

.personal-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.modal-label {
  font-family: "Gilroy Extrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  display: block;
}

.modal-input {
  display: block;
  width: 340px;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  height: 50px;
  background: #f2f2f2;
  padding-left: 20px;
}

.modal-input:hover {
  background: #eaeaea;
}

.modal-input:focus {
  border: 2px solid #f7e296;
  background-color: #fff;
}

.modal-input:focus.modal-input::placeholder {
  color: #000;
}

.modal-input:invalid {
  background-color: #f6dada;
  border: none;
}

.modal-input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.4);
}

.modal-input.modal-textarea {
  width: 760px;
  height: 167px;
  box-sizing: border-box;
  padding-top: 16px;
}

.more-button.submit-button {
  margin-top: 50px;
  border: none;
  background-color: transparent;
}

.more-button.submit-button::before {
  opacity: 0.6;
}

.modal-map {
  display: none;
  position: fixed;
  width: 960px;
  height: 550px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

/* Catalog page */

.page-navigation {
  padding-top: 44px;
  padding-left: 60px;
  padding-bottom: 45px;
}

.page-heading {
  font-family: "Gilroy Extrabold", sans-serif;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
  margin: 0;
}

.page-nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 35px;
}

.page-nav-item:not(:last-child) {
  margin-right: 40px;
  position: relative;
}

.page-nav-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -22px;
  width: 4px;
  height: 4px;
  border: 1px solid black;
  transform: rotate(-45deg);
  border-top: none;
  border-left: none;
}

.page-nav-item a {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.page-nav-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.page-nav-item a:active {
  color: rgba(0, 0, 0, 0.1);
}

.sorting-cols {
  background-image: linear-gradient(
    to right,
    #dcdcdc 0,
    #dcdcdc 33%,
    #ebebeb 33%,
    #ebebeb 100%
  );
  padding-top: 17px;
  padding-bottom: 17px;
}

.filters-wrapper {
  display: grid;
  grid-template-columns: 310px 3fr min-content;
}

.title-col {
  padding-left: 60px;
  display: flex;
  align-items: center;
  background-color: #dcdcdc;
}

.filters-title {
  margin: 0;
  font-family: "Gilroy Extrabold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting-menu {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 72px;
}

.sorting-list {
  list-style: none;
  display: flex;
  margin: 0;
}

.sorting-item:not(:last-child) {
  margin-right: 30px;
}

.sorting-item a {
  font-family: "Open Sans", sans-serif;

  font-size: 14px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  opacity: 0.3;
}

.sorting-item.sorting-item-active a {
  opacity: 1;
}

.sorting-item a:hover {
  opacity: 0.6;
}

.sorting-item a:active {
  opacity: 1;
}

.sorting-buttons {
  display: flex;
  justify-content: space-between;
}

.sorting-btn {
  border: none;
  background-color: transparent;
  width: 18px;
  height: 18px;
  background-image: url("./../img/icon-down-dir.png");
  opacity: 0.2;
  cursor: pointer;
}

.sorting-btn.button-up {
  transform: rotate(180deg);
  margin-right: 20px;
}

.sorting-btn.sorting-btn-active {
  opacity: 1;
}

.sorting-btn:hover {
  opacity: 0.5;
}

.sorting-btn:active {
  opacity: 1;
}

.filters {
  background-image: linear-gradient(
    to right,
    #e5e5e5 0,
    #e5e5e5 33%,
    #fff 33%,
    #fff 100%
  );
}

.filter-container {
  display: grid;
  grid-template-columns: 1.1fr 3fr;
}

.filters-col {
  padding-top: 70px;
  padding-left: 60px;
  background-color: #e5e5e5;
}

hr {
  width: 200px;
  height: 2px;
  background-color: #000;
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin-top: 14px;
}

.form-legend {
  font-family: "Gilroy Extrabold", sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;
}

.range-filter {
  width: 200px;
  height: 44px;
  margin-top: 30px;
  margin-bottom: 38px;
}

.range-controls {
  margin-bottom: 17px;
  position: relative;
}

.price-controls {
  display: flex;
}

.scale {
  width: 200px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.bar {
  width: 94px;
  height: 2px;
  background-color: #91c92f;
  position: absolute;
  left: 0;
}

.toggle {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #fff;
  background-color: #ababab;
  box-shadow: 0 2px 1px rgb(0 0 0 / 15%);
  border-radius: 50%;
  cursor: pointer;
}

.toggle.toggle-max {
  left: 97px;
}

.range-input {
  width: 50px;
}

.range-input[name="min-price"] {
  margin-right: 17px;
}

.label-price,
.range-input {
  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.range-input {
  border: none;
  background-color: transparent;
}

.checkbox-list,
.radio-list {
  margin: 0;
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.checkbox-list {
  margin-bottom: 37px;
}

.radio-list {
  margin-bottom: 50px;
}

.checkbox-item:not(:last-child),
.radio-item:not(:last-child) {
  margin-bottom: 20px;
}

.form-label {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  /* identical to box height */

  color: #000000;
  padding-left: 42px;
  position: relative;
  cursor: pointer;
}

.form-label:hover {
  opacity: 0.6;
}

.form-label:active {
  opacity: 1;
}

.form-input {
  display: none;
}

.checkbox-input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 24px;
  height: 24px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.checkbox-input:checked + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.checkbox-input:disabled + label::before,
.checkbox-input:disabled + label,
.checkbox-input:checked:disabled + label::before,
.radio-input:disabled + label::before,
.radio-input:disabled + label,
.radio-input:checked:disabled + label::before {
  opacity: 0.3;
  cursor: not-allowed;
}

.radio-input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -2px;
  width: 24px;
  height: 24px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.radio-input:checked + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -2px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.more-button.show-button {
  border: none;
  background: transparent;
  z-index: 1;
}

.results-col {
  padding-top: 69px;
  padding-left: 71px;
  padding-bottom: 78px;
}

.result-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result-item {
  margin-bottom: 48px;
  position: relative;
}

.new-item::after {
  content: "";
  position: absolute;
  top: 29px;
  right: 27px;
  width: 62px;
  height: 62px;
  background-image: url(./../img/new_item.svg);
  z-index: 10;
}

.result-card {
  width: 360px;
  height: 381px;
  background-color: #ebebeb;
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
}

.result-image {
  width: 100%;
}

.hover-menu {
  display: none;
}

.result-card:hover .hover-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(238, 238, 238, 0.7);
}

.more-button.cart-button {
  border: none;
  background-color: transparent;
  z-index: 1;
  margin-bottom: 22px;
}

.hover-menu span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  opacity: 0.7;
}

.hover-menu span:hover {
  opacity: 1;
}

.hover-menu span:active {
  opacity: 0.3;
}

.result-description {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.result-name {
  font-family: "Gilroy Extrabold", sans-serif;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  max-width: 270px;
}

.result-price {
  padding: 0;
  margin: 0;
  font-family: "Gilroy Light";
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.page-numbers {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #ebebeb;
  align-items: center;
  box-sizing: border-box;
  margin-top: -8px;
}

.pages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pages-list li:not(:last-child) {
  margin-right: 30px;
}

.page-link {
  font-family: "Gilroy Extrabold", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.page-link.active-page-link {
  color: #000;
}

.page-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.filters-title.pagination-link {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.filters-title.pagination-link a {
  padding: 20px 30px;
  cursor: pointer;
}

.page-link:active {
  color: #000;
}

.pagination-link a {
  text-decoration: none;
  color: inherit;
}

.filters-title.pagination-link:hover {
  background-color: #d9d9d9;
}

.filters-title.pagination-link a:active {
  color: rgba(0, 0, 0, 0.3);
}
